name: Download files
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  download-files:
    runs-on: ubuntu-latest
    name: Download files from pull request
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35

      - name: List changed files
        uses: actions/github-script@v6.2.0
        with:
          script: |
            const changedFiles = `${{ steps.changed-files.outputs.all_changed_files }}`
            console.log('[ changedFiles ]-------------------------------------------');
            console.log(changedFiles);
            console.log('typeof: ', (typeof changedFiles));

            for (const file of changedFiles) {
              const fileExtension = file.filename.split('.').pop();
              switch(fileExtension) {
                case 'md':
                  console.log('[file]', file);
              }
            }

      # - name: Download files
      #   uses: leandroh/node-blog-action@main
      #   with:
      #     owner: ${{ github.repository_owner }}
      #     repo: ${{ github.event.repository.name }}
      #     pr_number: ${{ github.event.number }}
      #     token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
