name: Download files
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  download-files:
    runs-on: ubuntu-latest
    name: Download files from pull request
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files: posts/*.md

      - name: List changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/github-script@v6.2.0
        with:
          script: |
            const fs = require("fs");

            const fileChanged = `${{ steps.changed-files.outputs.all_changed_files }}`

            fs.readFile(fileChanged, 'utf8', (err, data) => {
              if (err) {
                console.error(err);
                return;
              }

              const payload = { content: data }
              console.log('[payload] ----------------------------------------------');
              console.log(data);
            });

      # - name: Download files
      #   uses: leandroh/node-blog-action@main
      #   with:
      #     owner: ${{ github.repository_owner }}
      #     repo: ${{ github.event.repository.name }}
      #     pr_number: ${{ github.event.number }}
      #     token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
